@import "https://fonts.googleapis.com/css2?family=Parisienne&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --mainColor: rgb(4, 76, 30);
    --linkColor: white;
    --roboto: 'Roboto', sans-serif;
    --parisienne: 'Parisienne', sans-serif;
}

* {
  margin: 0;
}

html, body{
    height: 100%;
}


main {
    min-height: 100%;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

/*.wrapper:after {*/
/*    content: "";*/
/*    display: block;*/
/*}*/

/*footer, .wrapper:after{*/
/*    height: 100px;*/
/*}*/

/*    !*padding-bottom: 100px;*!*/
/*html, body {*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    !*background-color: red;*!*/
/*}*/
/*body{*/

/*}*/

#form-box {
    width: 75%;
    margin: 25px auto;
}

.green {
    color: white;
    background-color: var(--mainColor);
}

.green-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--mainColor);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
}


#navbarSupportedContent{
    display: flex;
    justify-content: space-between;
}

#univ-name {
    font-family: 'SansSerif', Arial, serif;
    font-size: 20px;
    text-align: center;
    text-decoration-width: 100px;
    color: white;
}

.banner {
    background-color: var(--mainColor);
}

#banner-light{
    font-family: 'SansSerif', Arial, serif;
    font-size: 20px;
    text-align: center;
    text-decoration-width: 100px;
    color: var(--mainColor);
    margin-top: 10px;
}



.cursive {
    font-family: var(--parisienne), cursive;
    font-size: 45px;
}

#nav-logo {
    font-family: var(--parisienne), cursive;
}

.nav{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #f8f9fa;
    color: black;
    height: fit-content;
}

.links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
}

.login-links {
    list-style: none;
    margin: 0;
}

.nav-link{
    color: black;
}


li.nav-item {
    margin: 0;
    list-style: none;
}

div .card {
    opacity: 1;
}

.jumbotron {
    background-image: url("../images/jordan-encarnacao-c0rplvWqyZk-unsplash.jpg");
    background-size: cover;
    background-position: top left;
    color: white;
    text-shadow: black 1px 1px;
    margin-bottom: 0;

}

.link, .link:visited{
    color: var(--linkColor);
}

#section2 {
    background-color: var(--mainColor);
    color: white;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1rem;
    font-family: var(--roboto), sans-serif;
}

#section2 ul{
    list-style: none;

}
.flex div:nth-child(2){
    /*padding: 0 1rem;*/
    border-left: 1px solid white;
    border-right: 1px solid white;
}

h2{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column{
    width: 33.3333%;
    padding: 1rem 1rem;
}

.column a, .column a:visited{
    display: block;
    color: white;
    font-family: var(--roboto);
    font-weight: 600;
    letter-spacing: 3px;
    padding-top: 10px;
}

.btn:hover{
    color: white;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.61);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.61);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.61);
}

footer {
    background: var(--mainColor);
    position: relative;
    color: white;
    font-family: var(--roboto);
    height: 100px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    clear: both;
}

.footer-tags{
    border-bottom: 0.5px white solid;
}

.footer-tags:last-of-type{
    border: none;
}

.delete_btn {
    padding: 1px;
    background: #dc3545;
    border-color: #dc3545;
    color: white;
    height: auto;
    width: auto;
}

#db_table {
    margin: auto;

}

#db_table td {
    margin: 3px;
}

#db_table a {
    color: #dc3545;
}

.fa-trash {
    float: right;
    display: inline;
}

