#univ-name {
    font-family: 'SansSerif', Arial, serif;
    font-size: 20px;
    text-align: center;
    text-decoration-width: 100px;
}

.cursive {
    font-family: 'Parisienne', cursive;
    font-size: 45px;
}

body {
    /*background-image: url("../images/Samoa.jpg");*/
}

#nav-logo {
    font-family: 'Parisienne', cursive;
}

li .nav-item {
    margin: 0;
}

.nav-item:hover{
    background-color: #d4edda;
}

div .card {
    opacity: 1;
}

.jumbotron {
    background-image: url("../images/sailor2.jpg");
}
